.completed {
  opacity: 50%;
}

.completedText {
  text-decoration: line-through;
}

.App {
  display: flex;
  align-items: center; /*aligns all items in horizontal axis*/
  /*justify-content: center; aligns all items in vertical axis*/
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column; /*all items go one below another*/
  padding: 10px;
}

.todo-header {
  font-family: "Pattaya", sans-serif;
}

.todo-text {
  font-family: "Noto Sans JP", sans-serif;
  word-wrap: break-word;
}
